@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

      body {
        font-family: Poppins, sans-serif;
        margin: 0;
        padding: 0;
        background: #f5f7fa;
      }

      .container {
        max-width: 400px;
        margin: 20px auto;
        padding: 20px;
        background: #fff;
        border-radius: 15px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      }

      .balance {
        text-align: center;
        background: linear-gradient(135deg, #4e54c8, #8f94fb);
        color: #fff;
        padding: 20px;
        border-radius: 15px;
        margin-bottom: 20px;
      }

      .balance h2 {
        font-size: 24px;
        margin: 5px 0;
      }

      .summary {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
      }

      .summary div {
        background: #f5f5f581;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
        flex: 1;
        margin: 0 5px;
        box-shadow: 0px 1px 1px silver;
      }

      .summary div:first-child {
        margin-left: 0;
        background-color: rgba(0, 128, 0, 0.071);
      }

      .summary div:last-child {
        margin-right: 0;
        background-color: rgba(255, 0, 0, 0.027);
      }

      .transactions {
        margin-top: 20px;
      }

      .transactions h3 {
        text-align: left;
        margin-bottom: 10px;
      }

      .transactions ul {
        list-style: none;
        padding: 0;
      }

      .transactions li {
        display: flex;
        justify-content: space-between;
        background: #f9f9f9;
        padding: 10px;
        border-radius: 10px;
        margin: 5px 0;
        align-items: center;
      }

      .transactions li img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
      }

      .income {
        color: green;
      }

      .expense {
        color: red;
      }

      button {
        display: block;
        width: 100%;
        padding: 20px;
        background: #4e54c8;
        color: white;
        border: none;
        border-radius: 10px;
        margin-top: 20px;
        cursor: pointer;
        transition: all 5s;
      }

      button:hover {
        background: #6a72ff;
        transition: all 5s;
      }
      .choice {
        display: flex;
        justify-content: space-evenly;
        font-weight: 500;
      }
      input {
        width: calc(100% - 20px);
        margin: 10px auto;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 10px;
        font-family: Poppins, sans-serif;
        background-color: #dddddd37;
      }
      .date {
        color: silver;
      }

      .delete {
        color: red;
      }
      .add-transaction {
        font-size: 18px;
        font-weight: 600;
      }